<div class="staffer">
  {% if staff.photo %}
  <img class="staffer-image" src="{{ staff.photo | relative_url }}" alt="">
  {% endif %}
  <div>
    <h3 class="staffer-name">
      {% if staff.website %}
      <a href="{{ staff.website }}">{{ staff.name }}</a>
      {% else %}
      {{ staff.name }}
      {% endif %}
      {% if staff.pronouns %}
      <div class="staffer-pronouns"><b>{{ staff.pronouns }}</b></div>
      {% endif %}
    </h3>
    <p>
      {% if staff.email %}
      <a href="mailto:{{ staff.email }}">{{ staff.email }}</a>
      {% endif %}
      
      {% if staff.type %}
         {{ staff.type }}
      {% endif %}
      {% if staff.lecture %}
    <p><b>Lecture(s)</b>: {{ staff.lecture }}</p>
    {% endif %}
    </p>
    {% unless include.nobio == 'true' %}
    {% if staff.description %}
    <p title="Description">🎓 {{ staff.description }}</p>
    {% endif %}
    {% if staff.work %}
    <p title="Work">🧑‍🔬 {{ staff.work }}</p>
    {% endif %}
    {% if staff.hometown %}
    <p title="Hometown">🏠 {{ staff.hometown }}</p>
    {% endif %}
    {% if staff.askabout %}
    <p title="In office hours, ask me about...">💬 {{ staff.askabout }}</p>
    {% endif %}
    {% endunless %}
  </div>
</div>
