<div class="week">
  <h3 class="week-header" id="{{ week.title | slugify }}">{{ week.title }}</h3>
  <div class="week-body">
    {% if week.topics.size > 0 %}
    <p><strong>Lecture Topics</strong></p>
    <ul>
      {% for t in week.topics %}
      <li>{{ t }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if week.events.size > 0 %}
    <p><strong>Due dates / Events</strong></p>
    <ul class="week-events">
      {% for event in week.events %}
      <li>
        <strong class="label label-{{ event.type }}">{{ event.label }}</strong>
        {{ event.title }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if week.section %}
    <p><strong>Section (Fri)</strong></p>
    <p>{{ week.section }}</p>
    {% endif %}
  </div>
</div>
