<tr>
  <th scope="row" class="col-week">{{ week.title }}</th>
  <td>
    {% if week.topics.size > 0 %}
    <ul class="week-topics">
      {% for t in week.topics %}
      <li>{{ t }}</li>
      {% endfor %}
    </ul>
    {% else %}
    <span class="text-muted">—</span>
    {% endif %}
  </td>
  <td>
    {% if week.events.size > 0 %}
    <ul class="week-events">
      {% for event in week.events %}
      <li>
        <strong class="label label-{{ event.type }}">{{ event.label }}</strong>
        {{ event.title }}
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <span class="text-muted">—</span>
    {% endif %}
  </td>
  <td class="col-section">
    {% if week.section and week.section != 'n/a' %}
    {{ week.section }}
    {% else %}
    <span class="text-muted">—</span>
    {% endif %}
  </td>
</tr>
